extends ../layout.pug

block content

  h3 Add video
  form(
    ref='uploadForm'
    id='uploadForm'
    action="/video/upload"
    method="POST"
    encType="multipart/form-data"
  )
    .mb-3
      input(name="title" type="text" placeholder="title")

    .mb-3
        input(name="video" type="file")
    .mb-3
        button.btn.btn-primary.mt-3 submit